        .mainDiv {
            margin: 0% auto;
            padding: .8em;
        }

        .CorrectNumDisplay {
            width: 60%;
            height: 120px;
            border-radius: 5px;
            margin: 0% auto;
            /* background-color: rgb(245, 185, 205); */
            background-color: black;
        }

        .content2{
            width: 50%;
            margin: 5% auto;
            padding: 1em;
        }
        .row{
            display: flex;
            gap: .7em;
            justify-content: center;
        }
        .InputField {
            outline: none;
            border: none;
            border-bottom: 1px solid black;
            padding: 15px 3em;
            border-radius: 1em;
            background-color: rgb(237, 234, 234);
        }

        .submitBtn {
            background-color: rgb(110, 243, 110);
            border: none;
            padding: 10px 40px;
            border-radius: 6px;
            color: white;
            letter-spacing: 1px;
        }

     button{
        cursor: pointer;
     }

        .TextDisplay {
            /* margin-top: 40px; */
            padding: .6em 0;
            text-align: center;
            font-size: 3rem;
            font-style: italic;
            align-items: center;
        }

        @media (min-width: 340px) and (max-width:540px) {
            .row{
                flex-direction: column;
            }
        }